<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BOTS</title>
    {% include 'meta-data.html' %}
    <script type="text/javascript">
      var bots = '{{ bots }}';
    </script>
  </head>
  <body>
    <a href="{{ url_for('add_bot') }}">Add Bot</a>
    <table border="1">
      <thead>
        <th>BOT</th>
        <th>PASS</th>
        <th>BACKUP CODE</th>
      </thead>

      <tbody>
        {% for bot in bots %}
        <tr id="{{ bot.bot_id }}">
          <td> <a href="{{ url_for('delete', id = bot.bot_id) }}">del</a> </td>
          <td>{{ bot.bot_id }}</td>
          <td>{{ bot.bot_pass }}</td>
          <td> {{ bot.code | length }} </td>
          <td> <a href="{{ url_for('update', id = bot.bot_id) }}">new</a> </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

  </body>
</html>
<!-- <input type="text" name="" value="{{ bot.code[0] }}"> -->
