<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NEW BOT</title>
  </head>
  <body>
    <form class="" method="post">
      <label for="">BOT ID</label>
      <input type="text" name="bot_id" value="">

      <br>

      <label for="">BOT PASS</label>
      <input type="text" name="bot_pass" value="">

      <br>

      <label for="">CODE 1</label>
      <input type="text" name="code1" value="">

      <br>

      <label for="">CODE 2</label>
      <input type="text" name="code2" value="">

      <br>

      <label for="">CODE 3</label>
      <input type="text" name="code3" value="">

      <br>

      <label for="">CODE 4</label>
      <input type="text" name="code4" value="">

      <br>

      <label for="">CODE 5</label>
      <input type="text" name="code5" value="">

      <br>

      <label for="">CODE 6</label>
      <input type="text" name="code6" value="">

      <br>

      <input type="submit" value="submit">
    </form>
  </body>
</html>
