
<div class="row bg-gray shadow justify-content-center">

  <nav aria-label="Page navigation example">
    <ul class="no-padding">
      <div class="d-flex shadow">
        <li class=""><a class="page-link py-4 white bg-dark no-border" href="#">MUA GAME</a></li>
        <li class=""><a class="page-link py-4 white bg-dark no-border" href="#">THUÊ GAME</a></li>
        <li class=""><a class="page-link py-4 white bg-dark no-border" href="#">WALLET CODES</a></li>
        <li class=""><a class="page-link py-4 white bg-dark no-border" href="#">PHỤ KIỆN</a></li>
        <li class=""><a class="page-link py-4 white bg-dark no-border" href="#">ITEM GAME</a></li>
        <li class=""><a class="page-link fs-8 py-4 white bg-dark no-border" href="#">ĐĂNG KÝ TÀI KHOẢN MỚI <br> NHẬN 50.000đ</a></li>
      </div>
    </ul>
  </nav>

  <div class="bg-gray col-md-8">
    <div class="location">
      <a href="#">Mua Game</a> <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <a href="#">Game Steam</a>
    </div>
  </div>

</div>
