<div class="bg-red pb-3 shadow mb-1">

  <nav class="navbar navbar-expand-lg navbar-light bg-dark container-fluid px-5 justify-content-center">

    <a class="navbar-brand" href="#"><img src="https://via.placeholder.com/200x75" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <form class="form-inline my-2 my-lg-0 p-x-5 r-border">
      <button class="no-border btn btn-light my-2 my-sm-0 r-border" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      <input class="form-control mr-sm-2 no-border" type="search" placeholder="Tìm kiếm game..." aria-label="Search">
    </form>


      <ul class="navbar-nav mr-0">
        <li class="nav-item active">
          <a class="nav-link white mt-1" href="#"><i class="fa fa-shopping-cart font-size font-weight-bold" aria-hidden="true"></i><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link red font-weight-bold font-size" href="#">12000  </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-address-card font-size mt-2" aria-hidden="true"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

      </ul>

  </nav>

  </div>
